header {
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    width: 100%;
    background: transparent;
    color: white;
}
.indexImg{
    margin-left: 30%;
}
header img{
    width: 50px;
    height: 50px;
    float: left;
    padding: 5px;
    border-radius: 15px;
}
footer {
    text-align: center;
    background: transparent;
    padding: 10px 0;
    width: 100%;
    color: black;
    position: fixed;
    bottom: 0;
    left: 0;
}
nav {
    float: right;
    margin: 10px 10px 0 0;
    padding: 0;
    text-align: center;
}
.indexNav{
    clear: both;
    float: none;
    margin-top: 200px;
    margin-left: 50px;
}
.indexNav a{
    font-size: 30px;
    margin-right: 100px;
}
nav a:hover {
    color: black !important;
    background-color: white;
}
nav a {
    display: inline-block;
    text-align:center;
    text-decoration: none !important;
    color: white !important;
    margin-left: 10px;
    margin-top: -5px;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
}
a{
    text-decoration: none;
    color:white !important;
}
.title{
    float:left;
    margin-top: 9px;
}
.groupTable{
    float: left;
    width: 20%;
    margin-left: 4%;
    margin-top: 15%;
    text-align: center;
    border: 5px solid grey;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
}
table{
    margin-bottom: 0px !important;
}
.leftTd{
    wdith:20%;
}
.rightTd{
    width:80%;
}
.backgroundDiv{
    background-color: lightblue;
    background-image: url("images/background.jpg");
}

.teamsTable{
    float:left;
    width: 20%;
    margin-left: 30%;
    margin-top: 10%;
    margin-bottom: 2%;
    text-align: center;
    background-color: white;
    border: 5px solid grey;
    border-radius: 10px;
}

.teamInput{
    float: left;
    width: 20%;
    margin-left: 4%;
    margin-top: 22%;
    text-align: center;
    background-color: white;
    border: 5px solid grey;
    border-radius: 10px;
    padding-bottom: 5px;
}
